{{ define "main" }}

<section class="section bd-masthead">
  <div class="hero position-relative overflow-hidden p-0 m-0 text-center bg-light">
    <picture class="position-absolute">
      <source srcset="{{ `images/home-hero/slide-1b.jpg#zap` | relURL }}" type="image/svg+xml">
      <img src="{{ `images/home-hero/slide-1.jpg#zap` | relURL }}" alt="...">
    </picture>
    <div class="info position-absolute">
      <h1 class="title display-4 fw-normal">Innovative Solutions,<br>Tailored to Your Needs</h1>
      <p class="description lead fw-normal">Expert-driven web and software development, designed to solve your toughest challenges.</p>
      <a class="cta btn btn-light" href="/contact">Get Your Estimate</a>
    </div>
  </div>
</section>

<section class="section container my-3">
  {{ partial "features" . }}
</section>

<section class="section container my-3">
  <h3 class="text-secondary text-center my-5">Latest Posts</h3>
  {{ partial "latest-posts" . }}
</section>

<section class="section container my-3">
  <h3 class="text-secondary text-center my-5">Featured Pages</h3>
  {{ partial "featured-pages" . }}
</section>

{{ end }}
